In [2]:
# with open('data/sentences.txt', 'w', encoding='utf-8') as f:
#     for sentence in sentences['sentence']:
#         f.write('{}\n'.format(sentence))

In [4]:
import pandas as pd

In [27]:
datasets = []
for genre in ['academic', 'fiction', 'newspapers', 'conversation']:
    dataset = pd.read_csv('data/raw/{}/exploration_set.csv'.format(genre),
                          encoding='ISO--8859-1', na_filter=False)
    display(dataset.head())
    datasets.append(dataset)

,word_id,word,lemma,word_type,function,seg_type,sentence_id,text_id,text_types
0,25070,HER,she,DPS,,,1267,a6u-fragment02,a6u
1,25071,DRESS,dress,NN1,,,1267,a6u-fragment02,a6u
2,25072,HANGS,hang,VVZ,,,1267,a6u-fragment02,a6u
3,25073,HERE',here',NP0,,,1267,a6u-fragment02,a6u
4,25074,DE-FROCKING,de-frock,VVG,mrw,met,1267,a6u-fragment02,a6u

,word_id,word,lemma,word_type,function,seg_type,sentence_id,text_id,text_types
0,38263,The,the,AT0,,,1947,ab9-fragment03,ab9
1,38264,boy,boy,NN1,,,1947,ab9-fragment03,ab9
2,38265,and,and,CJC,,,1947,ab9-fragment03,ab9
3,38266,the,the,AT0,,,1947,ab9-fragment03,ab9
4,38267,dog,dog,NN1,,,1947,ab9-fragment03,ab9

,word_id,word,lemma,word_type,function,seg_type,sentence_id,text_id,text_types
0,0,Latest,late,AJS,,,0,a1e-fragment01,a1e
1,1,corporate,corporate,AJ0,,,0,a1e-fragment01,a1e
2,2,unbundler,unbundler,NN1,,,0,a1e-fragment01,a1e
3,3,reveals,reveal,VVZ,mrw,met,0,a1e-fragment01,a1e
4,4,laid-back,laid-back,AJ0,,,0,a1e-fragment01,a1e

,word_id,word,lemma,word_type,function,seg_type,sentence_id,text_id,text_types
0,156256,Ours,ours,PNP,,,8721,kb7-fragment10,kb7
1,156257,is,be,VBZ,,,8721,kb7-fragment10,kb7
2,156258,actually,actually,AV0,,,8721,kb7-fragment10,kb7
3,156259,a,a,AT0,,,8721,kb7-fragment10,kb7
4,156260,new,new,AJ0,,,8721,kb7-fragment10,kb7

In [26]:
exploration_set = pd.concat(datasets)
len(exploration_set)

175563

In [13]:
sentences = pd.read_csv('data/raw/sentences.csv', encoding='ISO-8859-1')
display(len(sentences))
display(sentences.sample(5))
sentences.tail(3)

16183

,sentence_id,paragraph_id,sentence
7175,7175,2116,"But the district officer, Miles Turnbull, woul..."
7537,7537,2263,"Tom, we must go."
11887,11887,-1,Have you told Daddy what you did?
8285,8285,2481,Punters often try to avoid paying.
11245,11245,-1,What?

,sentence_id,paragraph_id,sentence
16180,16180,-1,Some else's sitting at their desk?
16181,16181,-1,Well not you know cleaning so I do n't know wh...
16182,16182,-1,Oh well if you 're here that 's all right

In [28]:
exploration_set

,word_id,word,lemma,word_type,function,seg_type,sentence_id,text_id,text_types
0,25070,HER,she,DPS,,,1267,a6u-fragment02,a6u
1,25071,DRESS,dress,NN1,,,1267,a6u-fragment02,a6u
2,25072,HANGS,hang,VVZ,,,1267,a6u-fragment02,a6u
3,25073,HERE',here',NP0,,,1267,a6u-fragment02,a6u
4,25074,DE-FROCKING,de-frock,VVG,mrw,met,1267,a6u-fragment02,a6u
5,25075,THE,the,AT0,,,1267,a6u-fragment02,a6u
6,25076,KAHLO,kahlo,NP0,,,1267,a6u-fragment02,a6u
7,25077,CULT,cult,NN1,,,1267,a6u-fragment02,a6u
8,25078,Oriana,oriana,NP0-NN1,,,1268,a6u-fragment02,a6u
9,25079,Baddeley,baddeley,NP0,,,1268,a6u-fragment02,a6u
10,25080,The,the,AT0,,,1269,a6u-fragment02,a6u
11,25081,1990s,1990s,CRD,,,1269,a6u-fragment02,a6u
12,25082,have,have,VHB,,,1269,a6u-fragment02,a6u
13,25083,witnessed,witness,VVN,mrw,met,1269,a6u-fragment02,a6u
14,25084,a,a,AT0,,,1269,a6u-fragment02,a6u
15,25085,shift,shift,NN1-VVB,,,1269,a6u-fragment02,a6u
16,25086,in,in,PRP,mrw,met,1269,a6u-fragment02,a6u
17,25087,the,the,AT0,,,1269,a6u-fragment02,a6u
18,25088,art,art,NN1,,,1269,a6u-fragment02,a6u
19,25089,establishment,establishment,NN1,,,1269,a6u-fragment02,a6u
20,25090,attitudes,attitude,NN2,mrw,met,1269,a6u-fragment02,a6u
21,25091,towards,towards,PRP,mrw,met,1269,a6u-fragment02,a6u
22,25092,art,art,NN1,,,1269,a6u-fragment02,a6u
23,25093,produced,produce,VVN,,,1269,a6u-fragment02,a6u
24,25094,outside of,outside of,PRP,mrw,met,1269,a6u-fragment02,a6u
25,25095,its,it,DPS,,,1269,a6u-fragment02,a6u
26,25096,traditional,traditional,AJ0,,,1269,a6u-fragment02,a6u
27,25097,parameters,parameter,NN2,,,1269,a6u-fragment02,a6u
28,25098,The,the,AT0,,,1270,a6u-fragment02,a6u
29,25099,work,work,NN1,,,1270,a6u-fragment02,a6u
...,...,...,...,...,...,...,...,...,...
44209,204804,else,else,AV0,,,16180,kcv-fragment42,kcv
44210,204805,sitting,sit,VVG,,,16180,kcv-fragment42,kcv
44211,204806,at,at,PRP,,,16180,kcv-fragment42,kcv
44212,204807,their,they,DPS,,,16180,kcv-fragment42,kcv
44213,204808,desk,desk,NN1,,,16180,kcv-fragment42,kcv
44214,204809,Well,well,AV0,,,16181,kcv-fragment42,kcv
44215,204810,not,not,XX0,,,16181,kcv-fragment42,kcv
44216,204811,you,you,PNP,,,16181,kcv-fragment42,kcv
44217,204812,know,know,VVB,,,16181,kcv-fragment42,kcv
44218,204813,cleaning,clean,VVG-NN1,,,16181,kcv-fragment42,kcv
44219,204814,so,so,AV0,,,16181,kcv-fragment42,kcv
44220,204815,I,i,PNP,,,16181,kcv-fragment42,kcv
44221,204816,do,do,VDB,,,16181,kcv-fragment42,kcv
44222,204817,n't,not,XX0,,,16181,kcv-fragment42,kcv
44223,204818,know,know,VVI,,,16181,kcv-fragment42,kcv
44224,204819,what,what,DTQ,,,16181,kcv-fragment42,kcv
44225,204820,kind,kind,NN1,,,16181,kcv-fragment42,kcv
44226,204821,of,of,PRF,,,16181,kcv-fragment42,kcv
44227,204822,work,work,NN1-VVB,,,16181,kcv-fragment42,kcv
44228,204823,they,they,PNP,,,16181,kcv-fragment42,kcv
44229,204824,do,do,VDB,,,16181,kcv-fragment42,kcv
44230,204825,Oh,oh,ITJ,,,16182,kcv-fragment42,kcv
44231,204826,well,well,AV0,,,16182,kcv-fragment42,kcv
44232,204827,if,if,CJS,,,16182,kcv-fragment42,kcv
44233,204828,you,you,PNP,,,16182,kcv-fragment42,kcv
44234,204829,'re,be,VBB,,,16182,kcv-fragment42,kcv
44235,204830,here,here,AV0,,,16182,kcv-fragment42,kcv
44236,204831,that,that,DT0-CJT,mrw,met,16182,kcv-fragment42,kcv
44237,204832,'s,be,VBZ,,,16182,kcv-fragment42,kcv
44238,204833,all right,all right,AJ0,,,16182,kcv-fragment42,kcv

In [22]:
all_words = pd.read_csv('data/raw/words.csv', encoding='ISO--8859-1')
display(len(all_words))
all_words.head()

204834

,word_id,word,lemma,word_type,function,seg_type,sentence_id,text_id
0,0,Latest,late,AJS,NaN,NaN,0,a1e-fragment01
1,1,corporate,corporate,AJ0,NaN,NaN,0,a1e-fragment01
2,2,unbundler,unbundler,NN1,NaN,NaN,0,a1e-fragment01
3,3,reveals,reveal,VVZ,mrw,met,0,a1e-fragment01
4,4,laid-back,laid-back,AJ0,NaN,NaN,0,a1e-fragment01

## Build paragraphs

In [10]:
sentences[sentences['paragraph_id'] != -1]

,sentence_id,paragraph_id,sentence
2,2,3,"IT SEEMS that Roland Franklin, the latest unbu..."
3,3,3,He has not properly investigated the target's ...
4,4,4,"The 63-year-old head of Pembridge Investments,..."
5,5,4,"If he had taken his own rule seriously, he wou..."
6,6,5,"There are other things he has, on his own admi..."
7,7,5,"When the bid was launched last week, Mr Frankl..."
8,8,5,He regards the charges as unfounded.
9,9,6,"On property, he is blunt."
10,10,6, I do not regard property profits as earnings.
11,11,6,We have made a bid of nearly £700m for a compa...
12,12,6,"If they can prove it is there, we might pay fo..."
13,13,7,On the other criticism he is equally dismissive.
14,14,7, That point about the core business is very u...
15,15,7,It is difficult to decide when you are an outs...
16,16,7,We would eventually like to do it along with t...
17,17,8,The Franklin philosophy was learnt in the US l...
18,18,8,Mr Franklin went there at the end of the 1970s...
19,19,8,He feels that Keyser's problems were hastened ...
20,20,9,He went to the US because Goldsmith decided t...
21,21,9,Along with Sir James he found the US much more...
22,22,9,He rejects charges that he was partly responsi...
23,23,9," We stirred it up, yes, but we never lost any..."
24,24,10,What he has learned from Goldsmith( the only ...
25,25,10, The concept of the company does not interest...
26,26,10,It does not matter whether or not DRG makes se...
27,27,11,And there is always the ultimate unbundler's d...
28,28,11,In a takeover campaign that has already seen v...
29,29,11,It would be a criticism if I was doing it to i...
32,32,12,Sir: I was interested by your juxtaposition ...
33,33,13,Electors are always prepared to criticise the...
...,...,...,...
8697,8697,2623, Was he an identical twin?
8698,8698,2624, Yes.
8699,8699,2625, That means you came from the same egg.
8700,8700,2625,That right?
8701,8701,2626, Something like that.
8702,8702,2626,"He, in his usual stoical manner, did n't tell ..."
8703,8703,2627, I had a boyfriend in High School.
8704,8704,2627,He was a twin and his brother played on the fo...
8705,8705,2627,"If he got hurt, my guy used to suffer, too."
8706,8706,2627,We used to watch the game together and I 'd su...
8707,8707,2627,Just like that.
8708,8708,2627,And I 'd look on the field and it was his brot...
8709,8709,2628, Yes.
8710,8710,2628,Something like that.
8711,8711,2628,He laughed.
8712,8712,2628, I remember once getting a tap round the head...
8713,8713,2628,I 'd done something wrong.
8714,8714,2628,I remember him saying it was a shame that he h...
8715,8715,2628,That tap sorted us both out.
8716,8716,2629, Do you still feel he 's with you?
8717,8717,2630, He is.
8718,8718,2631, Then you 're lucky.
8719,8719,2631,You 're not alone.
8720,8720,2631,Is that so bad?
8721,8721,2632, I do n't know why I 'm alive and he 's dead.
8722,8722,2633, What 's his name?
8723,8723,2634, Marcus.
8724,8724,2635, Nice name.
8725,8725,2635,I 'm glad you 've got someone to love.
8726,8726,2635,It 's important.

In [ ]:
!rm data/paragraphs/*
for i, paragraph in enumerate(paragraphs['paragraph']):
    file_name = "data/paragraphs/paragraph_{}.txt".format(i)
    with open(file_name, 'w', encoding='utf-8') as f:
        f.write(paragraph)

In [ ]:
for file_name in glob.glob('data/longest_chains/*.csv'):
    paragraph_id = os.path.splitext(os.path.basename(file_name))[0].split('_')[-1]

In [ ]:
longest_chains = pd.read_csv('data/longest_chains.csv', names=['paragraph_id', 'lexical_chain'])
longest_chains.merge(paragraphs)

In [ ]:
longest_chains_words = longest_chains.merge(words, left_on='paragraph_id', right_on='paragraph_id')
display(longest_chains_words.sample(5))
len(longest_chains)

In [ ]:
longest_chains_words[longest_chains_words['word'].isin(longest_chains_words['lexical_chain'].str.split(' '))]

In [ ]:
longest_chains_words['lexical_chain'].str.split(' ')[0]

In [ ]:
res = pd.DataFrame([chain_word for i, chain_word in longest_chains_words.iterrows() if (chain_word['word'] in chain_word['lexical_chain'].split(' '))])
res