In [1]:
# with open('data/sentences.txt', 'w', encoding='utf-8') as f:
#     for sentence in sentences['sentence']:
#         f.write('{}\n'.format(sentence))

In [84]:
import pandas as pd
import glob
import os
import glob
import subprocess
import csv

In [3]:
pd.set_option('display.max_colwidth', -1)

In [78]:
datasets = []
for genre in ['academic', 'fiction', 'newspapers', 'conversation']:
    dataset = pd.read_csv('data/train/{}/words.csv'.format(genre),
                          encoding='ISO--8859-1', na_filter=False)
    display(dataset.head())
    datasets.append(dataset)

,word_id,word,lemma,word_type,function,seg_type,sentence_id,text_id,text_tag,genre
0,25070,HER,she,DPS,,,1267,a6u-fragment02,a6u,academic
1,25071,DRESS,dress,NN1,,,1267,a6u-fragment02,a6u,academic
2,25072,HANGS,hang,VVZ,,,1267,a6u-fragment02,a6u,academic
3,25073,HERE',here',NP0,,,1267,a6u-fragment02,a6u,academic
4,25074,DE-FROCKING,de-frock,VVG,mrw,met,1267,a6u-fragment02,a6u,academic

,word_id,word,lemma,word_type,function,seg_type,sentence_id,text_id,text_tag,genre
0,38263,The,the,AT0,,,1947,ab9-fragment03,ab9,fiction
1,38264,boy,boy,NN1,,,1947,ab9-fragment03,ab9,fiction
2,38265,and,and,CJC,,,1947,ab9-fragment03,ab9,fiction
3,38266,the,the,AT0,,,1947,ab9-fragment03,ab9,fiction
4,38267,dog,dog,NN1,,,1947,ab9-fragment03,ab9,fiction

,word_id,word,lemma,word_type,function,seg_type,sentence_id,text_id,text_tag,genre
0,0,Latest,late,AJS,,,0,a1e-fragment01,a1e,newspapers
1,1,corporate,corporate,AJ0,,,0,a1e-fragment01,a1e,newspapers
2,2,unbundler,unbundler,NN1,,,0,a1e-fragment01,a1e,newspapers
3,3,reveals,reveal,VVZ,mrw,met,0,a1e-fragment01,a1e,newspapers
4,4,laid-back,laid-back,AJ0,,,0,a1e-fragment01,a1e,newspapers

,word_id,word,lemma,word_type,function,seg_type,sentence_id,text_id,text_tag,genre
0,156256,Ours,ours,PNP,,,8721,kb7-fragment10,kb7,conversation
1,156257,is,be,VBZ,,,8721,kb7-fragment10,kb7,conversation
2,156258,actually,actually,AV0,,,8721,kb7-fragment10,kb7,conversation
3,156259,a,a,AT0,,,8721,kb7-fragment10,kb7,conversation
4,156260,new,new,AJ0,,,8721,kb7-fragment10,kb7,conversation

In [79]:
dataset = pd.concat(datasets)
len(dataset)

164303

In [80]:
all_sentences = pd.read_csv('data/raw/sentences.csv', encoding='ISO-8859-1')
display(len(all_sentences))
display(all_sentences.sample(5))
all_sentences.tail(3)

16183

,sentence_id,paragraph_id,sentence
6266,6266,1933,"See, for example, Fig. 5.3"
2874,2874,942,Unemployment was 80 per cent on some streets.
14369,14369,-1,You can use your cloth daddy
5631,5631,1747,"It was a dramatic and impractical outfit of a kind I only expected to see on the male models who posed in the more outlandish fashion magazines that our rich clients brought aboard, yet Jesse Isambard Sweetman managed to wear the elaborate style with an elegant insouciance."
7702,7702,2299,Nevertheless a few qualitative conclusions may be drawn without doing any further mathematics.

,sentence_id,paragraph_id,sentence
16180,16180,-1,Some else's sitting at their desk?
16181,16181,-1,Well not you know cleaning so I do n't know what kind of work they do.
16182,16182,-1,Oh well if you 're here that 's all right

In [81]:
# Sentences the training set contains.
sentences = all_sentences.merge(dataset)[['sentence_id', 'paragraph_id', 'sentence']].drop_duplicates()
display(sentences['sentence_id'].nunique())
sentences.sample(5)

13134

,sentence_id,paragraph_id,sentence
149369,13261,-1,Nobody mentioned that they were puppets themselves.
40504,2565,847,"In its place would be a sentencing discretion, which judges would use, in many cases, to mark the relative heinousness of the murder by a determinate prison sentence."
154648,14452,-1,"You 're gon na help me, you 're gon na stay here I 'm afraid"
151522,13670,-1,Do you want a straw mum?
163506,16035,-1,Dear me!

## Build paragraphs

In [15]:
paragraph_sentences = sentences[sentences['paragraph_id'] != -1]
display(len(paragraph_sentences))  # Number of sentences that belong to paragraphs.
paragraph_sentences.sample(5)

6561

,sentence_id,paragraph_id,sentence
95548,6241,1928,"The reader is required to follow a series of steps which might, for example, introduce a change in the performance of a complex system."
115819,8059,2390,There is a potty for emergencies.
47922,3027,988,But Stewart snaps: I do n't want to be disappointed so I 'm not going to ask for their help.
13559,774,257,It does n't matter.
110072,7481,2245," A white man has blood, red blood also."

In [33]:
paragraphs = paragraph_sentences.groupby('paragraph_id')['sentence'].agg(list).apply(lambda x: ' '.join(x))
display(len(paragraphs))
paragraphs.head()

2067

paragraph_id
3    IT SEEMS that Roland Franklin, the latest unbundler to appear in the UK, has made a fatal error in the preparation of his £697m break-up bid for stationery and packaging group DRG. He has not properly investigated the target's dining facilities.
4    The 63-year-old head of Pembridge Investments, through which the bid is being mounted says, rule number one in this business is: the more luxurious the luncheon rooms at headquarters, the more inefficient the business. If he had taken his own rule seriously, he would have found out that DRG has a very modest self-service canteen at its Bristol head office.
5    There are other things he has, on his own admission, not fully investigated, like the value of the DRG properties, or which part of the DRG business he would keep after the break up. When the bid was launched last week, Mr Franklin faced some criticism from City commentators on both those counts. He regards the charges as unfounded.
6    On property, he is blunt.  I do not regard property profits as earnings. We have made a bid of nearly £700m for a company with a book value of £200m we 've acknowledged there is some extra worth there, but I can not see the sort of value they are talking about in property. If they can prove it is there, we might pay for it,
7    On the other criticism he is equally dismissive.  That point about the core business is very unfair, he says. It is difficult to decide when you are an outsider what the business is like. We would eventually like to do it along with the management, within the philosophy we will impose.
Name: sentence, dtype: object

## Save paragraphs

This saves all the paragraphs we created from our sentences.
```python
!rm data/train/paragraphs/*
for i, paragraph in paragraphs.iteritems():
    file_name = "data/train/paragraphs/paragraph_{}.txt".format(i)
    with open(file_name, 'w', encoding='utf-8') as f:
        print('Writing {}'.format(file_name))
        f.write(paragraph)
```

Next, run the following.
```bash
python scripts/paragraph_chain.py
```

## Explore Longest Chains

In [150]:
longest_chains = pd.read_csv('data/train/longest_chains.csv')  # Paragraphs with longest chains != ''

longest_chain_in_paragraphs = longest_chains.merge(paragraphs, left_on='paragraph_id', right_index=True)

# We should have a row for each paragraph with a non-empty longest_chain.
display(len(paragraphs))
display(sum(longest_chains['paragraph_id'].isin(paragraphs.index)))
display(len(longest_chain_in_paragraphs['paragraph_id'].drop_duplicates()))
display(len(longest_chain_in_paragraphs))  
display(len(longest_chains))

longest_chain_in_paragraphs.head()

2067

1519

1519

1519

1519

,paragraph_id,longest_chain,sentence
0,10,Loading the Index... Loading the Text... Loading the Categories... holding businesses matter consequence genius concept company company,What he has learned from Goldsmith( the only genius I have ever come across) is that the holding company is not the most important unit of corporate organisation.  The concept of the company does not interest me- it 's the businesses that are important. It does not matter whether or not DRG makes sellotape or Basildon Bond it 's of no consequence to anybody if somebody else makes them.
1,1000,Loading the Index... Loading the Text... Loading the Categories... ran found crop unqualified lost obliged rest money cattle,"Nor could the vaunted irrigation scheme be described as an unqualified success. The money ran out before the scheme's completion, and the villagers found themselves obliged to borrow the rest. They begged Rytasha for reimbursement, but none was forthcoming, and for the want of a few hundred pounds the village lost its crop for the year.  Now what are we supposed to do? asked one of them.  Are we to sell our cattle or our land?"
2,1001,Loading the Index... Loading the Text... Loading the Categories... spiritual gurus teach form speak language,"The most irritating thing about Rytasha and there were many was that, though she does not speak their language, she presumes to teach them a spurious form of their own religion.  One thing we do n't need in this subcontinent, Professor Rokeya Kabeer observed, is spiritual guidance we have gurus a dime a dozen."
3,1002,Loading the Index... Loading the Text... Loading the Categories... lines white,"They are far too civilised for that sort of thing in Bangladesh, but I kept thinking wistfully of T. S. Eliot's lines in Sweeney Agonistes about a nice little white little missionary stew."
4,1003,Loading the Index... Loading the Text... Loading the Categories... stock market index investors holders market surge offer risen,"AT LEAST last Friday's post-election stock market surge was not a one-day special offer for the professionals only. Prices have remained the FT-SE index has risen another 55 points since then allowing even the most passive of private investors, including unit trust holders, to take advantage of the market."

Looks pretty good!

## Now let's put our code into reuseable and automated functions!

In [243]:
dataset = pd.read_csv('data/train/academic/words.csv'.format(genre),
                      encoding='ISO--8859-1', na_filter=False)

In [244]:
def build_paragraphs(dataset):
    all_sentences = pd.read_csv('data/raw/sentences.csv', encoding='ISO-8859-1')

    # Sentences the given dataset contains.
    sentences = all_sentences.merge(dataset)[['sentence_id', 'paragraph_id', 'sentence']].drop_duplicates()

    paragraph_sentences = sentences[sentences['paragraph_id'] != -1]

    paragraphs = paragraph_sentences.groupby('paragraph_id')['sentence'].agg(list).apply(lambda x: ' '.join(x))
    return paragraphs


def save_paragraphs(paragraphs):
    try:
        files = glob.glob('data/tmp/paragraphs/*')
        for f in files:
            os.remove(f)
    except:
        os.mkdir('data/tmp/paragraphs')
        
    for i, paragraph in paragraphs.iteritems():
        file_name = "data/tmp/paragraphs/paragraph_{}.txt".format(i)
        with open(file_name, 'w', encoding='utf-8') as f:
            print('Writing {}'.format(file_name))
            f.write(paragraph)  


def get_longest_chains(genre):
    # Go to ELKB directory from the parent directory of this file.
#     dir = os.path.dirname(os.path.realpath(__file__))
#     os.chdir(os.path.join(dir, '../ELKB'))

    with open('data/tmp/longest_chains.csv'.format(genre), 'w', encoding='utf-8') as f:
        csv_writer = csv.writer(f, delimiter=',')
        csv_writer.writerow(('paragraph_id', 'longest_chain'))

        for file_name in glob.glob('data/tmp/paragraphs/paragraph*.txt'.format(genre)):
            paragraph_id = os.path.splitext(os.path.basename(file_name))[
                0].split('_')[-1]

            with open(file_name, 'r', encoding='utf-8') as g:
                result = subprocess.run(
                    'java applications/LexicalChain -f ../{}'.format(file_name),
                    cwd='ELKB/',
                    stdout=subprocess.PIPE)

                result = result.stdout.decode('utf-8')

                result = result.strip().split('\n')

                # Does not contain a lexical chain.
                # First 3 lines are descriptives by the script.
                if len(result) < 4:
                    continue

                longest_chain = []
                len_longest_chain = 0
                for r in result[3:]:
                    chain = [word.strip()
                             for word in r.split('[')[0].split(',')]
                    if len(chain) >= len_longest_chain:
                        longest_chain.extend(chain)
                        
                    len_longest_chain = len(chain)
                    
                # longest_chain = result[3]
                # longest_chain = [word.strip() for word in longest_chain.split('[')[0].split(',')]
                longest_chain_str = ' '.join(longest_chain)

                # line = '{},{}'.format(paragraph_id, longest_chain)
                # f.write(line + '\n')
                row = [paragraph_id, longest_chain_str]
#                 print(row)
                print('Writing longest chain for {} with {} words!\n'
                      .format(file_name, len(longest_chain)))
                csv_writer.writerow(row)

def get_lc_feature(dataset):
    longest_chains = pd.read_csv('tmp/longest_chains.csv')  # Paragraphs with longest chains != ''

    longest_chain_in_paragraphs = longest_chains.merge(paragraphs, left_on='paragraph_id', right_index=True)

    words_and_longest_chains = (
        longest_chain_in_paragraphs
        .merge(sentences)
        .merge(dataset[['sentence_id', 'word_id', 'word']])
    )

    words_and_longest_chains['longest_chain_list'] = (
        words_and_longest_chains['longest_chain']
        .apply(lambda x: set(x.split(' ')))
    )

    words_and_longest_chains['is_in_longest_chain'] = [
        word in chain for (word, chain) in zip(
            words_and_longest_chains['word'],
            words_and_longest_chains['longest_chain_list']
        )
    ]

    return words_and_longest_chains[['word_id', 'is_in_longest_chain']]

def add_lc_feature(dataset, genre):
    paragraphs = build_paragraphs(dataset)
    save_paragraphs(paragraphs)
    
    get_longest_chains(genre)
    
    lc_feature = get_lc_feature(dataset)
    
    dataset_with_lc_feature = dataset.merge(lc_feature, how='left')
    dataset_with_lc_feature['is_in_longest_chain'].fillna(False)

    return dataset_with_lc_feature

Great! Now let's try our new model with the added Lexical Chain feature!

In [249]:
dataset = pd.read_csv('data/train/academic/words.csv', encoding='ISO--8859-1', na_filter=False)
display(len(dataset))
dataset.head()

48964

,word_id,word,lemma,word_type,function,seg_type,sentence_id,text_id,text_tag,genre
0,25070,HER,she,DPS,,,1267,a6u-fragment02,a6u,academic
1,25071,DRESS,dress,NN1,,,1267,a6u-fragment02,a6u,academic
2,25072,HANGS,hang,VVZ,,,1267,a6u-fragment02,a6u,academic
3,25073,HERE',here',NP0,,,1267,a6u-fragment02,a6u,academic
4,25074,DE-FROCKING,de-frock,VVG,mrw,met,1267,a6u-fragment02,a6u,academic

In [298]:
%run model_functions.ipynb

In [ ]:
genre = 'academic'
train_set = pd.read_csv('data/train/{}/words.csv'.format(genre), encoding='ISO--8859-1', na_filter=False)
X_train, test_fold_ids, vocabulary, y_train = preprocess_data(train_set, want_lc=True)

unigram_classifier = UnigramClassifier(
    verbose=10, random_state=0, C=10, penalty='l1',
    solver='liblinear', class_weight='balanced', max_iter=500,
    vocabulary=vocabulary
)

C = np.logspace(-2,4,20)
penalty = ['l1', 'l2']
hyperparameters = {'C':C, 'penalty':penalty}
clf = GridSearchCV(unigram_classifier, hyperparameters,
                   cv=PredefinedSplit(test_fold_ids),
                   verbose=10, scoring='f1')

clf.fit(X_train, y_train)

test_set = pd.read_csv('data/test/{}/words.csv'.format(genre), encoding='ISO--8859-1', na_filter=False)
X_test, _, _, y_test = preprocess_data(test_set)
preds = clf.predict(X_test)

result = classification_report(y_test, preds, output_dict)
print(result)

-----------Writing data/tmp/paragraphs/paragraph_412.txt
Writing data/tmp/paragraphs/paragraph_413.txt
Writing data/tmp/paragraphs/paragraph_414.txt
Writing data/tmp/paragraphs/paragraph_415.txt
Writing data/tmp/paragraphs/paragraph_416.txt
Writing data/tmp/paragraphs/paragraph_417.txt
Writing data/tmp/paragraphs/paragraph_418.txt
Writing data/tmp/paragraphs/paragraph_419.txt
Writing data/tmp/paragraphs/paragraph_420.txt
Writing data/tmp/paragraphs/paragraph_421.txt
Writing data/tmp/paragraphs/paragraph_422.txt
Writing data/tmp/paragraphs/paragraph_423.txt
Writing data/tmp/paragraphs/paragraph_424.txt
Writing data/tmp/paragraphs/paragraph_425.txt
Writing data/tmp/paragraphs/paragraph_426.txt
Writing data/tmp/paragraphs/paragraph_427.txt
Writing data/tmp/paragraphs/paragraph_840.txt
Writing data/tmp/paragraphs/paragraph_841.txt
Writing data/tmp/paragraphs/paragraph_842.txt
Writing data/tmp/paragraphs/paragraph_843.txt
Writing data/tmp/paragraphs/paragraph_844.txt
Writing data/tmp/paragraphs/paragraph_845.txt
Writing data/tmp/paragraphs/paragraph_846.txt
Writing data/tmp/paragraphs/paragraph_847.txt
Writing data/tmp/paragraphs/paragraph_848.txt
Writing data/tmp/paragraphs/paragraph_849.txt
Writing data/tmp/paragraphs/paragraph_850.txt
Writing data/tmp/paragraphs/paragraph_851.txt
Writing data/tmp/paragraphs/paragraph_852.txt
Writing data/tmp/paragraphs/paragraph_853.txt
Writing data/tmp/paragraphs/paragraph_854.txt
Writing data/tmp/paragraphs/paragraph_855.txt
Writing data/tmp/paragraphs/paragraph_856.txt
Writing data/tmp/paragraphs/paragraph_857.txt
Writing data/tmp/paragraphs/paragraph_858.txt
Writing data/tmp/paragraphs/paragraph_859.txt
Writing data/tmp/paragraphs/paragraph_860.txt
Writing data/tmp/paragraphs/paragraph_1043.txt
Writing data/tmp/paragraphs/paragraph_1044.txt
Writing data/tmp/paragraphs/paragraph_1045.txt
Writing data/tmp/paragraphs/paragraph_1046.txt
Writing data/tmp/paragraphs/paragraph_1047.txt
Writing data/tmp/paragraphs/paragraph_1048.txt
Writing data/tmp/paragraphs/paragraph_1049.txt
Writing data/tmp/paragraphs/paragraph_1050.txt
Writing data/tmp/paragraphs/paragraph_1051.txt
Writing data/tmp/paragraphs/paragraph_1052.txt
Writing data/tmp/paragraphs/paragraph_1053.txt
Writing data/tmp/paragraphs/paragraph_1054.txt
Writing data/tmp/paragraphs/paragraph_1055.txt
Writing data/tmp/paragraphs/paragraph_1056.txt
Writing data/tmp/paragraphs/paragraph_1057.txt
Writing data/tmp/paragraphs/paragraph_1058.txt
Writing data/tmp/paragraphs/paragraph_1059.txt
Writing data/tmp/paragraphs/paragraph_1060.txt
Writing data/tmp/paragraphs/paragraph_1061.txt
Writing data/tmp/paragraphs/paragraph_1062.txt
Writing data/tmp/paragraphs/paragraph_1063.txt
Writing data/tmp/paragraphs/paragraph_1064.txt
Writing data/tmp/paragraphs/paragraph_1065.txt
Writing data/tmp/paragraphs/paragraph_1077.txt
Writing data/tmp/paragraphs/paragraph_1078.txt
Writing data/tmp/paragraphs/paragraph_1079.txt
Writing data/tmp/paragraphs/paragraph_1080.txt
Writing data/tmp/paragraphs/paragraph_1081.txt
Writing data/tmp/paragraphs/paragraph_1082.txt
Writing data/tmp/paragraphs/paragraph_1083.txt
Writing data/tmp/paragraphs/paragraph_1084.txt
Writing data/tmp/paragraphs/paragraph_1085.txt
Writing data/tmp/paragraphs/paragraph_1086.txt
Writing data/tmp/paragraphs/paragraph_1087.txt
Writing data/tmp/paragraphs/paragraph_1088.txt
Writing data/tmp/paragraphs/paragraph_1089.txt
Writing data/tmp/paragraphs/paragraph_1090.txt
Writing data/tmp/paragraphs/paragraph_1091.txt
Writing data/tmp/paragraphs/paragraph_1092.txt
Writing data/tmp/paragraphs/paragraph_1093.txt
Writing data/tmp/paragraphs/paragraph_1094.txt
Writing data/tmp/paragraphs/paragraph_1095.txt
Writing data/tmp/paragraphs/paragraph_1096.txt
Writing data/tmp/paragraphs/paragraph_1097.txt
Writing data/tmp/paragraphs/paragraph_1098.txt
Writing data/tmp/paragraphs/paragraph_1099.txt
Writing data/tmp/paragraphs/paragraph_1100.txt
Writing data/tmp/paragraphs/paragraph_1101.txt
Writing data/tmp/paragraphs/paragraph_1102.txt
Writing data/tmp/paragraphs/paragraph_1103.txt
Writing data/tmp/paragraphs/paragraph_1104.txt
Writing data/tmp/paragraphs/paragraph_1105.txt
Writing data/tmp/paragraphs/paragraph_1106.txt
Writing data/tmp/paragraphs/paragraph_1107.txt
Writing data/tmp/paragraphs/paragraph_1108.txt
Writing data/tmp/paragraphs/paragraph_1109.txt
Writing data/tmp/paragraphs/paragraph_1110.txt
Writing data/tmp/paragraphs/paragraph_1111.txt
Writing data/tmp/paragraphs/paragraph_1112.txt
Writing data/tmp/paragraphs/paragraph_1113.txt
Writing data/tmp/paragraphs/paragraph_1114.txt
Writing data/tmp/paragraphs/paragraph_1115.txt
Writing data/tmp/paragraphs/paragraph_1116.txt
Writing data/tmp/paragraphs/paragraph_1117.txt
Writing data/tmp/paragraphs/paragraph_1118.txt
Writing data/tmp/paragraphs/paragraph_1119.txt
Writing data/tmp/paragraphs/paragraph_1120.txt
Writing data/tmp/paragraphs/paragraph_1121.txt
Writing data/tmp/paragraphs/paragraph_1122.txt
Writing data/tmp/paragraphs/paragraph_1123.txt
Writing data/tmp/paragraphs/paragraph_1124.txt
Writing data/tmp/paragraphs/paragraph_1125.txt
Writing data/tmp/paragraphs/paragraph_1126.txt
Writing data/tmp/paragraphs/paragraph_1127.txt
Writing data/tmp/paragraphs/paragraph_1146.txt
Writing data/tmp/paragraphs/paragraph_1147.txt
Writing data/tmp/paragraphs/paragraph_1148.txt
Writing data/tmp/paragraphs/paragraph_1149.txt
Writing data/tmp/paragraphs/paragraph_1150.txt
Writing data/tmp/paragraphs/paragraph_1151.txt
Writing data/tmp/paragraphs/paragraph_1152.txt
Writing data/tmp/paragraphs/paragraph_1153.txt
Writing data/tmp/paragraphs/paragraph_1154.txt
Writing data/tmp/paragraphs/paragraph_1155.txt
Writing data/tmp/paragraphs/paragraph_1156.txt
Writing data/tmp/paragraphs/paragraph_1157.txt
Writing data/tmp/paragraphs/paragraph_1158.txt
Writing data/tmp/paragraphs/paragraph_1159.txt
Writing data/tmp/paragraphs/paragraph_1160.txt
Writing data/tmp/paragraphs/paragraph_1161.txt
Writing data/tmp/paragraphs/paragraph_1162.txt
Writing data/tmp/paragraphs/paragraph_1163.txt
Writing data/tmp/paragraphs/paragraph_1164.txt
Writing data/tmp/paragraphs/paragraph_1165.txt
Writing data/tmp/paragraphs/paragraph_1166.txt
Writing data/tmp/paragraphs/paragraph_1167.txt
Writing data/tmp/paragraphs/paragraph_1168.txt
Writing data/tmp/paragraphs/paragraph_1169.txt
Writing data/tmp/paragraphs/paragraph_1170.txt
Writing data/tmp/paragraphs/paragraph_1171.txt
Writing data/tmp/paragraphs/paragraph_1172.txt
Writing data/tmp/paragraphs/paragraph_1173.txt
Writing data/tmp/paragraphs/paragraph_1174.txt
Writing data/tmp/paragraphs/paragraph_1175.txt
Writing data/tmp/paragraphs/paragraph_1176.txt
Writing data/tmp/paragraphs/paragraph_1177.txt
Writing data/tmp/paragraphs/paragraph_1178.txt
Writing data/tmp/paragraphs/paragraph_1179.txt
Writing data/tmp/paragraphs/paragraph_1180.txt
Writing data/tmp/paragraphs/paragraph_1181.txt
Writing data/tmp/paragraphs/paragraph_1182.txt
Writing data/tmp/paragraphs/paragraph_1183.txt
Writing data/tmp/paragraphs/paragraph_1184.txt
Writing data/tmp/paragraphs/paragraph_1185.txt
Writing data/tmp/paragraphs/paragraph_1186.txt
Writing data/tmp/paragraphs/paragraph_1187.txt
Writing data/tmp/paragraphs/paragraph_1188.txt
Writing data/tmp/paragraphs/paragraph_1189.txt
Writing data/tmp/paragraphs/paragraph_1190.txt
Writing data/tmp/paragraphs/paragraph_1191.txt
Writing data/tmp/paragraphs/paragraph_1192.txt
Writing data/tmp/paragraphs/paragraph_1193.txt
Writing data/tmp/paragraphs/paragraph_1194.txt
Writing data/tmp/paragraphs/paragraph_1195.txt
Writing data/tmp/paragraphs/paragraph_1196.txt
Writing data/tmp/paragraphs/paragraph_1197.txt
Writing data/tmp/paragraphs/paragraph_1198.txt
Writing data/tmp/paragraphs/paragraph_1199.txt
Writing data/tmp/paragraphs/paragraph_1200.txt
Writing data/tmp/paragraphs/paragraph_1201.txt
Writing data/tmp/paragraphs/paragraph_1202.txt
Writing data/tmp/paragraphs/paragraph_1203.txt
Writing data/tmp/paragraphs/paragraph_1204.txt
Writing data/tmp/paragraphs/paragraph_1205.txt
Writing data/tmp/paragraphs/paragraph_1206.txt
Writing data/tmp/paragraphs/paragraph_1207.txt
Writing data/tmp/paragraphs/paragraph_1208.txt
Writing data/tmp/paragraphs/paragraph_1209.txt
Writing data/tmp/paragraphs/paragraph_1210.txt
Writing data/tmp/paragraphs/paragraph_1211.txt
Writing data/tmp/paragraphs/paragraph_1212.txt
Writing data/tmp/paragraphs/paragraph_1213.txt
Writing data/tmp/paragraphs/paragraph_1214.txt
Writing data/tmp/paragraphs/paragraph_1215.txt
Writing data/tmp/paragraphs/paragraph_1216.txt
Writing data/tmp/paragraphs/paragraph_1217.txt
Writing data/tmp/paragraphs/paragraph_1218.txt
Writing data/tmp/paragraphs/paragraph_1219.txt

Writing data/tmp/paragraphs/paragraph_1220.txt
Writing data/tmp/paragraphs/paragraph_1221.txt
Writing data/tmp/paragraphs/paragraph_1222.txt
Writing data/tmp/paragraphs/paragraph_1223.txt
Writing data/tmp/paragraphs/paragraph_1224.txt
Writing data/tmp/paragraphs/paragraph_1225.txt
Writing data/tmp/paragraphs/paragraph_1226.txt
Writing data/tmp/paragraphs/paragraph_1227.txt
Writing data/tmp/paragraphs/paragraph_1228.txt
Writing data/tmp/paragraphs/paragraph_1229.txt
Writing data/tmp/paragraphs/paragraph_1230.txt
Writing data/tmp/paragraphs/paragraph_1231.txt
Writing data/tmp/paragraphs/paragraph_1232.txt
Writing data/tmp/paragraphs/paragraph_1233.txt
Writing data/tmp/paragraphs/paragraph_1234.txt
Writing data/tmp/paragraphs/paragraph_1235.txt
Writing data/tmp/paragraphs/paragraph_1236.txt
Writing data/tmp/paragraphs/paragraph_1237.txt
Writing data/tmp/paragraphs/paragraph_1238.txt
Writing data/tmp/paragraphs/paragraph_1239.txt
Writing data/tmp/paragraphs/paragraph_1240.txt
Writing data/tmp/paragraphs/paragraph_1241.txt
Writing data/tmp/paragraphs/paragraph_1242.txt
Writing data/tmp/paragraphs/paragraph_1243.txt
Writing data/tmp/paragraphs/paragraph_1244.txt
Writing data/tmp/paragraphs/paragraph_1245.txt
Writing data/tmp/paragraphs/paragraph_1246.txt
Writing data/tmp/paragraphs/paragraph_1247.txt
Writing data/tmp/paragraphs/paragraph_1248.txt
Writing data/tmp/paragraphs/paragraph_1249.txt
Writing data/tmp/paragraphs/paragraph_1250.txt
Writing data/tmp/paragraphs/paragraph_1251.txt
Writing data/tmp/paragraphs/paragraph_1252.txt
Writing data/tmp/paragraphs/paragraph_1253.txt
Writing data/tmp/paragraphs/paragraph_1254.txt
Writing data/tmp/paragraphs/paragraph_1255.txt
Writing data/tmp/paragraphs/paragraph_1256.txt
Writing data/tmp/paragraphs/paragraph_1257.txt
Writing data/tmp/paragraphs/paragraph_1258.txt
Writing data/tmp/paragraphs/paragraph_1259.txt
Writing data/tmp/paragraphs/paragraph_1260.txt
Writing data/tmp/paragraphs/paragraph_1261.txt
Writing data/tmp/paragraphs/paragraph_1262.txt
Writing data/tmp/paragraphs/paragraph_1263.txt
Writing data/tmp/paragraphs/paragraph_1264.txt
Writing data/tmp/paragraphs/paragraph_1265.txt
Writing data/tmp/paragraphs/paragraph_1266.txt
Writing data/tmp/paragraphs/paragraph_1267.txt
Writing data/tmp/paragraphs/paragraph_1268.txt
Writing data/tmp/paragraphs/paragraph_1269.txt
Writing data/tmp/paragraphs/paragraph_1270.txt
Writing data/tmp/paragraphs/paragraph_1271.txt
Writing data/tmp/paragraphs/paragraph_1272.txt
Writing data/tmp/paragraphs/paragraph_1273.txt
Writing data/tmp/paragraphs/paragraph_1274.txt
Writing data/tmp/paragraphs/paragraph_1275.txt
Writing data/tmp/paragraphs/paragraph_1276.txt
Writing data/tmp/paragraphs/paragraph_1277.txt
Writing data/tmp/paragraphs/paragraph_1278.txt
Writing data/tmp/paragraphs/paragraph_1279.txt
Writing data/tmp/paragraphs/paragraph_1280.txt
Writing data/tmp/paragraphs/paragraph_1281.txt
Writing data/tmp/paragraphs/paragraph_1282.txt
Writing data/tmp/paragraphs/paragraph_1283.txt
Writing data/tmp/paragraphs/paragraph_1284.txt
Writing data/tmp/paragraphs/paragraph_1285.txt
Writing data/tmp/paragraphs/paragraph_1286.txt
Writing data/tmp/paragraphs/paragraph_1287.txt
Writing data/tmp/paragraphs/paragraph_1288.txt
Writing data/tmp/paragraphs/paragraph_1289.txt
Writing data/tmp/paragraphs/paragraph_1290.txt
Writing data/tmp/paragraphs/paragraph_1291.txt
Writing data/tmp/paragraphs/paragraph_1292.txt
Writing data/tmp/paragraphs/paragraph_1293.txt
Writing data/tmp/paragraphs/paragraph_1294.txt
Writing data/tmp/paragraphs/paragraph_1295.txt
Writing data/tmp/paragraphs/paragraph_1296.txt
Writing data/tmp/paragraphs/paragraph_1297.txt
Writing data/tmp/paragraphs/paragraph_1298.txt
Writing data/tmp/paragraphs/paragraph_1299.txt
Writing data/tmp/paragraphs/paragraph_1300.txt
Writing data/tmp/paragraphs/paragraph_1301.txt
Writing data/tmp/paragraphs/paragraph_1302.txt
Writing data/tmp/paragraphs/paragraph_1303.txt
Writing data/tmp/paragraphs/paragraph_1304.txt
Writing data/tmp/paragraphs/paragraph_1305.txt
Writing data/tmp/paragraphs/paragraph_1306.txt
Writing data/tmp/paragraphs/paragraph_1307.txt
Writing data/tmp/paragraphs/paragraph_1308.txt
Writing data/tmp/paragraphs/paragraph_1309.txt
Writing data/tmp/paragraphs/paragraph_1310.txt
Writing data/tmp/paragraphs/paragraph_1311.txt
Writing data/tmp/paragraphs/paragraph_1312.txt
Writing data/tmp/paragraphs/paragraph_1313.txt
Writing data/tmp/paragraphs/paragraph_1314.txt
Writing data/tmp/paragraphs/paragraph_1315.txt
Writing data/tmp/paragraphs/paragraph_1316.txt
Writing data/tmp/paragraphs/paragraph_1317.txt
Writing data/tmp/paragraphs/paragraph_1318.txt
Writing data/tmp/paragraphs/paragraph_1319.txt
Writing data/tmp/paragraphs/paragraph_1320.txt
Writing data/tmp/paragraphs/paragraph_1321.txt
Writing data/tmp/paragraphs/paragraph_1322.txt
Writing data/tmp/paragraphs/paragraph_1323.txt
Writing data/tmp/paragraphs/paragraph_1324.txt
Writing data/tmp/paragraphs/paragraph_1325.txt
Writing data/tmp/paragraphs/paragraph_1326.txt
Writing data/tmp/paragraphs/paragraph_1327.txt
Writing data/tmp/paragraphs/paragraph_1328.txt
Writing data/tmp/paragraphs/paragraph_1329.txt
Writing data/tmp/paragraphs/paragraph_1330.txt
Writing data/tmp/paragraphs/paragraph_1331.txt
Writing data/tmp/paragraphs/paragraph_1332.txt
Writing data/tmp/paragraphs/paragraph_1906.txt
Writing data/tmp/paragraphs/paragraph_1907.txt
Writing data/tmp/paragraphs/paragraph_1908.txt
Writing data/tmp/paragraphs/paragraph_1909.txt
Writing data/tmp/paragraphs/paragraph_1910.txt
Writing data/tmp/paragraphs/paragraph_1911.txt
Writing data/tmp/paragraphs/paragraph_1912.txt
Writing data/tmp/paragraphs/paragraph_1913.txt
Writing data/tmp/paragraphs/paragraph_1914.txt
Writing data/tmp/paragraphs/paragraph_1915.txt
Writing data/tmp/paragraphs/paragraph_1916.txt
Writing data/tmp/paragraphs/paragraph_1917.txt
Writing data/tmp/paragraphs/paragraph_1918.txt
Writing data/tmp/paragraphs/paragraph_1919.txt
Writing data/tmp/paragraphs/paragraph_1920.txt
Writing data/tmp/paragraphs/paragraph_1921.txt
Writing data/tmp/paragraphs/paragraph_1922.txt
Writing data/tmp/paragraphs/paragraph_1923.txt
Writing data/tmp/paragraphs/paragraph_1924.txt
Writing data/tmp/paragraphs/paragraph_1925.txt
Writing data/tmp/paragraphs/paragraph_1926.txt
Writing data/tmp/paragraphs/paragraph_1927.txt
Writing data/tmp/paragraphs/paragraph_1928.txt
Writing data/tmp/paragraphs/paragraph_1929.txt
Writing data/tmp/paragraphs/paragraph_1930.txt
Writing data/tmp/paragraphs/paragraph_1931.txt
Writing data/tmp/paragraphs/paragraph_1932.txt
Writing data/tmp/paragraphs/paragraph_1933.txt
Writing data/tmp/paragraphs/paragraph_1934.txt
Writing data/tmp/paragraphs/paragraph_1935.txt
Writing data/tmp/paragraphs/paragraph_1936.txt
Writing data/tmp/paragraphs/paragraph_1937.txt
Writing data/tmp/paragraphs/paragraph_1938.txt
Writing data/tmp/paragraphs/paragraph_2024.txt
Writing data/tmp/paragraphs/paragraph_2025.txt
Writing data/tmp/paragraphs/paragraph_2026.txt
Writing data/tmp/paragraphs/paragraph_2027.txt
Writing data/tmp/paragraphs/paragraph_2028.txt
Writing data/tmp/paragraphs/paragraph_2029.txt
Writing data/tmp/paragraphs/paragraph_2030.txt
Writing data/tmp/paragraphs/paragraph_2031.txt
Writing data/tmp/paragraphs/paragraph_2032.txt
Writing data/tmp/paragraphs/paragraph_2033.txt
Writing data/tmp/paragraphs/paragraph_2034.txt
Writing data/tmp/paragraphs/paragraph_2035.txt
Writing data/tmp/paragraphs/paragraph_2036.txt
Writing data/tmp/paragraphs/paragraph_2037.txt
Writing data/tmp/paragraphs/paragraph_2038.txt
Writing data/tmp/paragraphs/paragraph_2039.txt
Writing data/tmp/paragraphs/paragraph_2040.txt
Writing data/tmp/paragraphs/paragraph_2041.txt
Writing data/tmp/paragraphs/paragraph_2042.txt
Writing data/tmp/paragraphs/paragraph_2043.txt
Writing data/tmp/paragraphs/paragraph_2044.txt
Writing data/tmp/paragraphs/paragraph_2045.txt
Writing data/tmp/paragraphs/paragraph_2046.txt
Writing data/tmp/paragraphs/paragraph_2047.txt
Writing data/tmp/paragraphs/paragraph_2048.txt
Writing data/tmp/paragraphs/paragraph_2049.txt
Writing data/tmp/paragraphs/paragraph_2050.txt
Writing data/tmp/paragraphs/paragraph_2051.txt
Writing data/tmp/paragraphs/paragraph_2052.txt
Writing data/tmp/paragraphs/paragraph_2053.txt
Writing data/tmp/paragraphs/paragraph_2054.txt

Writing data/tmp/paragraphs/paragraph_2055.txt
Writing data/tmp/paragraphs/paragraph_2056.txt
Writing data/tmp/paragraphs/paragraph_2057.txt
Writing data/tmp/paragraphs/paragraph_2058.txt
Writing data/tmp/paragraphs/paragraph_2059.txt
Writing data/tmp/paragraphs/paragraph_2060.txt
Writing data/tmp/paragraphs/paragraph_2061.txt
Writing data/tmp/paragraphs/paragraph_2062.txt
Writing data/tmp/paragraphs/paragraph_2063.txt
Writing data/tmp/paragraphs/paragraph_2064.txt
Writing data/tmp/paragraphs/paragraph_2065.txt
Writing data/tmp/paragraphs/paragraph_2066.txt
Writing data/tmp/paragraphs/paragraph_2067.txt
Writing data/tmp/paragraphs/paragraph_2068.txt
Writing data/tmp/paragraphs/paragraph_2069.txt
Writing data/tmp/paragraphs/paragraph_2070.txt
Writing data/tmp/paragraphs/paragraph_2071.txt
Writing data/tmp/paragraphs/paragraph_2072.txt
Writing data/tmp/paragraphs/paragraph_2073.txt
Writing data/tmp/paragraphs/paragraph_2074.txt
Writing data/tmp/paragraphs/paragraph_2075.txt
Writing data/tmp/paragraphs/paragraph_2076.txt
Writing data/tmp/paragraphs/paragraph_2077.txt
Writing data/tmp/paragraphs/paragraph_2078.txt
Writing data/tmp/paragraphs/paragraph_2079.txt
Writing data/tmp/paragraphs/paragraph_2080.txt
Writing data/tmp/paragraphs/paragraph_2081.txt
Writing data/tmp/paragraphs/paragraph_2082.txt
Writing data/tmp/paragraphs/paragraph_2083.txt
Writing data/tmp/paragraphs/paragraph_2084.txt
Writing data/tmp/paragraphs/paragraph_2085.txt
Writing data/tmp/paragraphs/paragraph_2086.txt
Writing data/tmp/paragraphs/paragraph_2087.txt
Writing data/tmp/paragraphs/paragraph_2088.txt
Writing data/tmp/paragraphs/paragraph_2089.txt
Writing data/tmp/paragraphs/paragraph_2090.txt
Writing data/tmp/paragraphs/paragraph_2091.txt
Writing data/tmp/paragraphs/paragraph_2092.txt
Writing data/tmp/paragraphs/paragraph_2093.txt
Writing data/tmp/paragraphs/paragraph_2094.txt
Writing data/tmp/paragraphs/paragraph_2095.txt
Writing data/tmp/paragraphs/paragraph_2096.txt
Writing longest chain for data/tmp/paragraphs\paragraph_1043.txt with 6 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1044.txt with 39 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1045.txt with 26 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1046.txt with 24 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1047.txt with 11 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1048.txt with 22 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1049.txt with 21 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1050.txt with 8 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1051.txt with 6 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1052.txt with 28 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1053.txt with 33 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1054.txt with 13 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1055.txt with 10 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1056.txt with 14 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1057.txt with 30 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1058.txt with 14 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1059.txt with 6 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1060.txt with 6 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1061.txt with 8 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1063.txt with 9 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1064.txt with 11 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1065.txt with 11 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1077.txt with 3 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1078.txt with 18 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1079.txt with 27 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1080.txt with 22 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1081.txt with 30 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1082.txt with 7 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1083.txt with 15 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1084.txt with 21 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1085.txt with 6 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1086.txt with 10 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1087.txt with 23 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1088.txt with 25 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1089.txt with 3 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1090.txt with 11 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1091.txt with 4 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1092.txt with 8 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1093.txt with 11 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1094.txt with 19 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1095.txt with 39 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1096.txt with 11 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1097.txt with 29 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1098.txt with 20 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1099.txt with 19 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1100.txt with 74 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1101.txt with 38 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1102.txt with 30 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1103.txt with 16 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1104.txt with 16 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1105.txt with 28 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1106.txt with 26 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1107.txt with 8 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1108.txt with 15 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1109.txt with 23 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1110.txt with 2 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1111.txt with 11 words!

Writing longest chain for data/tmp/paragraphs\paragraph_1112.txt with 11 words!